#!/bin/sh

sudo apt update
sudo apt install -y gnupg software-properties-common

sudo apt install -y git
sudo apt install -y python3 python3-pip
sudo apt install -y exa
sudo apt install -y snap
sudo apt install -y golang-go
sudo apt install -y tmux

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
nvm install node
nvm use node

curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
sudo apt update
sudo apt install -y --no-install-recommends yarn
yarn config set prefix /usr/local/

wget https://packages.erlang-solutions.com/erlang/{{- .chezmoi.osRelease.idLike -}}/pool/esl-erlang_21.3.8.17-1~{{- .chezmoi.osRelease.id -}}~{{- .chezmoi.osRelease.versionCodename -}}_amd64.deb -O ~/esl-erlang_21.deb
dpkg -i -y ~/esl-erlang_21.deb

git clone https://github.com/erlang/rebar3.git ~/.rebar3
~/.rebar3/bootstrap
~/rebar3/rebar3 local install

sudo snap install -y neovim
sudo apt install -y -- python3-venv
pip install -y neovim

git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install

pip3 install -U gita
git clone https://github.com/wfxr/forgit.git ~/.forgit

wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
gpg --no-default-keyring --keyring /usr/share/keyrings/hashicorp-archive-keyring.gpg --fingerprint
echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
sudo apt update
sudo apt install -y terraform
terraform -install-autocomplete

git clone https://github.com/gpakosz/.tmux.git
ln -s -f .tmux/.tmux.conf

sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'

nvim -c 'PlugInstall' -c 'qa!'
nvim -c 'COQdeps' -c 'CHADdeps' -c 'qa!'

npm i -g bash-language-server

npm i -g dockerfile-language-server-nodejs

git clone https://github.com/erlang-ls/erlang_ls.git ~/.erlang_ls
cd ~/.erlang_ls
make
make install
cd ~

pip3 install -U jedi-language-server

npm i -g vscode-langservers-extracted

go install golang.org/x/tools/gopls@latest

pip3 install -y pyright

sudo apt install -y terraform-ls

npm i -g vim-language-server

yarn global add yaml-language-server
